.inputStyles {
    border: solid 1px #C8CED0;
    border-radius: 4px;
    outline: none;
    width: 100%;
    height: 36px;
    line-height: 36px;
    display: block;
    padding-left: 5px;
    
    &:hover {
        border-color: #8C9497;
        
        & + i {
            color: #8C9497;
        }
    }
    
    &:focus {
        border-color: #E52466;
        
        & + i {
            color: #616668;
        }
    }
}

.inputStylesWithIcon {
    composes: inputStyles;
    padding-left: 35px;
}

.labelStyles {
    color: #8C9497;
    margin-left: 2px;
}

.inputContainer {
    position: relative;
    i {
        position: absolute;
        left: 10px;
        font-size: 18px;
        top: 9px;
        color: #C8CED0;
    }
}

.textFieldContainer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.errorBackground {
    composes: inputStyles;
    background-color: #FDEEEE;
    border-color: #F38D8D;
}

.errorContainer {
    margin-left: 2px;
    height: 18px;
    display: block;
    color: #F38D8D;
}