body {
  font-size: 10px;

  position: fixed;
  width: 100%;
  height: 100%;
}

.app {
  position: fixed;
  width: 100%;
  height: 100%;
}

.viewContent {
    margin-top: 60px;

    transition: transform .3s ease-in-out,margin .3s ease-in-out;
}

.viewContentFull {
    margin-left: 260px;
}

.viewContentCollapsed {
    margin-left: 60px;
}
